.followers-list {
  & > li {
    cursor: pointer;
    
    &.is-choosen,
    &.is-choosen > span {
      color: #ccc;
      text-decoration: dashed;
    }

    & > span {
      color: var(--primary-color);
    }
  }
}